.content {
  height: 100%;
  position: "relative";
}

.myLoading {
  height: 100vh;
}

.AoiTable {
  padding-right: 50px;
  margin-top: 20px;
}

#sidebar,
.AoiTableContainer {
  width: 550px;
  position: absolute;
  left: -600px;
  min-height: calc(100vh - 55px);
  z-index: 5;
  background: #292a2b;
  color: #fff;
  transition: all 0.3s;
  box-shadow: 3px 3px 3px rgba(102, 67, 67, 0.2);
  height: auto;
  padding: 10px;
}

#sidebar.active {
  left: 0;
}

.AoiTableContainer.active {
  padding: 20px 10px 60px 10px;
  margin-top: 50px;
  left: initial;
  right: 0px;
  top: 0;
  height: 100vh;
  position: fixed;
  overflow: scroll;
}

#dismiss,
#dismiss-detail {
  border-radius: 5px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #3b3b3b;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover,
#dismiss-detail {
  background: #fff;
  color: #6f7072;
}

#dismiss-detail.active {
  position: fixed;
  top: 70px;
  right: 10px;
}

#sidebar .ControlWrapper {
  padding: 60px 0;
}

#sidebar .ControlWrapper p {
  color: #fff;
  padding: 10px;
  font-size: 20px;
}

#sidebar .ControlWrapper .card {
  border: 1px solid #363c3f;
  margin: 30px auto;
}

#sidebar .ControlWrapper .card-header {
  background-color: #6f7072;
}

#sidebar .ControlWrapper .card-body {
  background-color: #a1a3a7;
}

.sidebarControlBtn {
  position: "absolute";
  top: "80px";
  left: "50px";
  z-index: 1;
  width: initial !important;
}

nav a {
  color: white;
}

nav a:hover {
  color: white;
}

.navbar-nav {
  width: 100%;
}

.nav-right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.assessmentNav {
  position: fixed;
  top: 8vh;
  left: 2vw;
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
  z-index: 10;
}

.assessmentNav a {
  display: block;
  text-decoration: none;
  color: black;
}

.assessmentNav a:hover {
  text-decoration: underline;
  color: gray;
}

.reportNav {
  position: fixed;
  top: 8vh;
  left: 2vw;
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
  z-index: 10;
}

.reportNav a {
  display: block;
  text-decoration: none;
  color: black;
}

.reportNav a:hover {
  text-decoration: underline;
  color: gray;
}

.file-drop {
  width: 95% !important;
  height: auto;
  min-height: 200px;
  border: gray 2px dotted;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  transition: all ease 0.3s;
}

.file-drop div {
  text-align: center;
  width: 100%;
  padding: 85px;
  cursor: pointer;
}

.file-drop:hover {
  background: gray;
}

.container.detail-buttons {
  margin-left: -25px;
  width: 125%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.mt-4 {
  position: fixed !important;
  right: 30px;
  bottom: 30px;
  margin: 0;
  padding: 0.5rem !important;
}

.mt-4 p {
  font-size: 20px;
  padding: 0 !important;
  margin: 0;
}

.mt-4 .h4 {
  font-size: 20px;
}

.reportDownload {
  position: absolute;
  right: 20px;
  top: 1%;
}

.assessmentDownload {
  position: absolute;
  right: 20px;
  top: 1%;
}

.footprintDownload {
  position: absolute;
  right: 20px;
  top: 2%;
}

.tableDownload {
  position: absolute;
  right: 20px;
  top: 3%;
}

.reportSave {
  position: absolute;
  right: 20px;
  top: 3%;
}

.assessmentSave {
  position: absolute;
  right: 20px;
  top: 4%;
}

.downloadButton {
  height: 40px;
  width: 200px;
}

.legend {
  position: absolute;
  bottom: 2vh;
  right: 1vw;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  padding: 10px;
}

.legend .legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 90%;
  white-space: pre-wrap;
}

.legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
}

.legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
}

.legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
}

#mapHeading {
  margin-top: 50px;
}

.report-h1 {
  text-align: left;
  margin-left: 0px;
  padding-left: 0px;
}

.assessment-h1 {
  text-align: left;
  margin-left: 0px;
  padding-left: 0px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  margin-top: 30px;
}

.form-group input {
  border-radius: 5px;
  margin: 0;
}

.form-btn-container {
  margin: 30px;
  display: flex;
  justify-content: space-around;
}

button.btn-dark.ml-1.btn {
  font-size: 14px;
  margin: 5px;
}

.btn-success,
.btn-secondary,
.btn-danger,
.btn-primary {
  min-width: 180px;
}

button.ml-1.btn.btn-danger {
  margin: 5px;
  font-size: 14px;
  min-width: initial;
}

button.sidebarControlBtn.btn.btn-secondary {
  min-width: initial;
  width: initial;
}

.btn-container {
  display: flex;
  flex-direction: row;
}

#resetButton {
  color: red;
  display: flex;
  justify-content: space-between;
  width: 120px;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  bottom: 2vh;
  right: 10px;
}

#sidebar .instruction {
  margin: 10px 0 30px 0;
  line-height: 1.25;
}

#sidebar .instruction p {
  margin: 0;

  font-size: 16px;
}

#sidebar .instruction p.note {
  font-size: 14px;
}

.add-assess-cont {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.error-text {
  color: red;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  background: rgb(255, 193, 193);
  margin-left: 15px;
}

.sum-text {
  font-size: 24px;
}

#assessment-card {
  padding-bottom: 60px;
}

.smaller-text {
  font-size: 14px !important;
}

.total-text {
  margin-left: 20px;
}

.utility-btn-cont {
  display: flex;
  justify-content: space-between;
}

.utility-wrap {
  margin-top: 20px;
  padding: 0 !important;
}

.hover-icon:hover {
  cursor: pointer;
}

h4 {
  margin-top: 20px;
  font-size: 18px !important;
}

.no-margin {
  margin-bottom: 0;
}

.no-padding {
  padding-left: 0 !important;
}

.measure-container {
  background: rgba(80, 80, 80, 0.2);
  border-radius: 10px;
  padding: 10px;
}

.modal-footer button.btn.btn-secondary {
  width: initial;
}

.modal-footer button.btn.btn-danger {
  width: initial;
  font-weight: bold;
}

.modal-footer {
  justify-content: space-between !important;
}

.timeout.modal-footer {
  justify-content: center !important;
}

.logo-container {
  display: flex;
  justify-content: space-evenly;
  height: 100px;
  width: 100%;
}

.logo {
  padding: 10px;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

a img.logo {
  width: 100%;
}

.__react_component_tooltip {
  max-width: 350px;
}

.tool-link {
  color: whitesmoke;
  text-decoration: underline;
}

.tool-link:hover {
  color: rgb(0, 86, 179);
}

.accordion-dropdown {
  display: flex;
  justify-content: space-between;
}

.accordion-dropdown p {
  margin: 0;
  padding: 0 !important;
  font-size: 14px !important;
}

.accordion .card:first-child {
  margin-bottom: 0 !important;
}

.accordion .card:nth-child(2) {
  margin-top: 0 !important;
}

.edit-instructions {
  margin: -10px 0 5px 0 !important;
  padding: 0 !important;
  font-size: 16px !important;
}

.back-to-map {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  margin-top: 20px;
}

.basemapButton {
  position: fixed;
  top: 80px;
  right: 10px;
  z-index: 2;
  min-width: 30px;
  min-height: 42px;
}

.basemapSwitch {
  position: fixed;
  top: 77px;
  right: 30px;
  z-index: 1;
  padding: 0px;
  margin: 0px;
  text-align: end;
  transition: all ease 0.3s;
}

.multi-switch-container {
  height: 42px !important;
}

/* span.multi-switch-handle.multi-switch-handle-move {
  top: 0;
} */

.multi-switch-content:hover {
  background: lightsteelblue;
  border-radius: 30px;
  top: 0;
}

.glow {
  display: inline-block;
  width: initial !important;
  padding: 10px;
  text-decoration: none;
  margin-top: 30px;
  border: none;
  outline: none;
  color: #fff;
  position: relative;
  z-index: 0;
}

.glow:hover {
  text-decoration: none;
}

.glow:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 10s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow:before {
  opacity: 1;
}

.glow:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #292a2b;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bug-icon-btn {
  position: absolute;
  bottom: 20px;
  z-index: 9;
  background: none !important;
  min-width: initial !important;
  border: none !important;
}

.mapboxgl-ctrl-top-right {
  top: 65px !important;
}

.mapboxgl-ctrl-attrib-inner {
  display: none;
}

.mapboxgl-ctrl-group button {
  width: 42px !important;
}

#reportSaveButton,
#assessmentSaveButton {
  width: auto;
  min-width: 200px;
}

#reportOverview .container {
  width: 65%;
}
