.content {
  height: 100%;
  position: "relative";
}

.myLoading {
  height: 100vh;
}

#sidebar {
  width: 600px;
  position: absolute;
  left: -600px;
  min-height: calc(100vh - 55px);
  z-index: 5;
  background: #292a2b;
  color: #fff;
  transition: all 0.3s;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  height: auto;
}

#sidebar.active {
  left: 0;
}

.AoiTableContainer {
  width: 600px;
  position: absolute;
  display: none;
  right: -600px;
  min-height: 94.3vh;
  z-index: 5;
  background: #292a2b;
  color: #fff;
  transition: all 0.3s;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  height: auto;
}

.AoiTableContainer.active {
  display: initial;
  right: 0px;
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #3b3b3b;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#dismiss:hover {
  background: #fff;
  color: #6f7072;
}

#sidebar .ControlWrapper {
  padding: 60px 0;
}

#sidebar .ControlWrapper p {
  color: #fff;
  padding: 10px;
  font-size: 20px;
}

#sidebar .ControlWrapper .card {
  border: 1px solid #363c3f;
}

#sidebar .ControlWrapper .card-header {
  background-color: #6f7072;
}

#sidebar .ControlWrapper .card-body {
  background-color: #a1a3a7;
}

.sidebarControlBtn {
  position: "absolute";
  top: "80px";
  left: "50px";
  z-index: 1;
}

nav a {
  color: white;
}

nav a:hover {
  color: white;
}

.assessmentNav {
  position: fixed;
  top: 8vh;
  left: 2vw;
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
  z-index: 10;
}

.assessmentNav a {
  display: block;
  text-decoration: none;
  color: black;
}

.assessmentNav a:hover {
  text-decoration: underline;
  color: gray;
}

.reportNav {
  position: fixed;
  top: 8vh;
  left: 2vw;
  border: 2px solid black;
  border-radius: 15px;
  padding: 5px;
  z-index: 10;
}

.reportNav a {
  display: block;
  text-decoration: none;
  color: black;
}

.reportNav a:hover {
  text-decoration: underline;
  color: gray;
}

.file-drop {
  width: 95% !important;
  height: auto;
  min-height: 200px;
  border: gray 2px dotted;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  transition: all ease 0.3s;
}

.file-drop div {
  text-align: center;
  width: 100%;
  padding: 85px;
  cursor: pointer;
}

.file-drop:hover {
  background: gray;
}

.assessmentDownload {
  position: absolute;
  right: 20px;
  top: 1%;
}

.mt-4 {
  position: fixed !important;
  right: 30px;
  bottom: 30px;
  margin: 0;
  padding: 0.5rem !important;
}

.mt-4 p {
  font-size: 20px;
  padding: 0 !important;
  margin: 0;
}

.mt-4 .h4 {
  font-size: 20px;
}

.footprintDownload {
  position: absolute;
  right: 20px;
  top: 2%;
}

.reportDownload {
  position: absolute;
  right: 20px;
  top: 1%;
}

.legend {
  position: absolute;
  bottom: 2vh;
  right: 1vw;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  padding: 10px;
}

.legend .legend-title {
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 90%;
  white-space: pre-wrap;
}

.legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
}

.legend .legend-scale ul li {
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
}

.legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
}

#mapHeading {
  margin-top: 50px;
}

.assessment-h1 {
  text-align: center;
}
